/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  margin: 52px auto;
}
.header__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 20px 0;
  display: flex;
}
.header__shutter {
  max-width: 64px;
  max-height: 64px;
  align-self: center;
}
.header__button {
  opacity: 1;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.header__button:hover {
  color: white;
  background-color: #00bfff;
  border: 1px solid transparent;
}
.header__button_start {
  -webkit-animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
          animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
}
.header__input {
  -webkit-animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
          animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
  display: none;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 700;
}
.header__input::-moz-placeholder {
  font-weight: 400;
}
.header__input:-ms-input-placeholder {
  font-weight: 400;
}
.header__input::placeholder {
  font-weight: 400;
}
.header__input:focus::-moz-placeholder {
  color: transparent;
}
.header__input:focus:-ms-input-placeholder {
  color: transparent;
}
.header__input:focus::placeholder {
  color: transparent;
}
.header__input:hover::-moz-placeholder {
  color: #00bfff;
}
.header__input:hover:-ms-input-placeholder {
  color: #00bfff;
}
.header__input:hover::placeholder {
  color: #00bfff;
}
.header__input:focus, .header__input:hover {
  border-color: #00bfff;
}
.header__input_start {
  -webkit-animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
          animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
}
.header__enter {
  -webkit-animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
          animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
  display: none;
  opacity: 1;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.header__enter:hover {
  color: white;
  background-color: #00bfff;
  border: 1px solid transparent;
}
.header__enter_start {
  -webkit-animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
          animation: upUp 1s cubic-bezier(0.5, -1, 0.5, 2) infinite;
}
.header__welcome {
  display: none;
}

@-webkit-keyframes upUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-250px);
  }
}

@keyframes upUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-250px);
  }
}
@-webkit-keyframes downUp {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes downUp {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
.game {
  display: none;
}
.game_start {
  -webkit-animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
          animation: downUp 1s cubic-bezier(0.5, -1, 0.5, 2);
}
.game__flex {
  display: flex;
  justify-content: space-between;
}
.game__illustrator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__draw {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  background: #330000;
  color: #ff9a00;
  border-radius: 40px;
  cursor: pointer;
}
.game__description {
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.game__makeset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__button {
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}
.game__button:hover {
  color: white;
  background-color: #00bfff;
  border: 1px solid transparent;
}
.game__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons,
.sets,
.income-icons,
.income-sets,
.sum {
  font-weight: 700;
}

progress::-webkit-progress-bar {
  background: rgb(243, 243, 243);
  transform: scale(1.5);
}

progress::-webkit-progress-value {
  background: #00bfff;
}

@keyframes downUp {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */